* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins" sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-background: #1c1e53;
  --color-button: #fcd980;
  --color-text: #fff;
}

nav {
  background-color: var(--color-background);
}

nav a {
  color: var(--color-text);
}

#nav .list {
  justify-content: space-between;
  padding: 5px 10px;
  margin-right: 72px;
  color: var(--color-text);
}

#nav .navbar-brand {
  margin-left: 70px;
  font-family: "poppins" sans-serif;
  font-weight: 700;
}

#nav .btn {
  margin-right: 70px;
  width: 106px;
  height: 40px;
  border: 1px solid #fff;
  color: var(--color-text);
}

#nav .nav-link {
  justify-content: space-between;
  margin-left: 15px;
  font-weight: 300;
  color: var(--color-text);
  font-size: 13px;
}

#nav .nav-link:hover {
  color: var(--color-button);

  transition: 0.4s;
  transform: perspective(3px) scale(1.1);
}

#main {
  background-color: var(--color-background);
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

#main .btn {
  margin-top: 62px;
  width: 175px;
  height: 48px;
  color: var(--color-text);
  border: none;
}

#main .tn {
  background-color: var(--color-button);
  color: #282938;
  font-family: "popins" sans-serif;
  font-weight: 500;
}

#footer {
  background-color: #eef4fa;
  width: 100%;
  display: flex;

  justify-content: space-between;
}

#footer .title1 {
  font-family: "poppins" sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-top: 40px;
}

/* #footer .grid{ht: 20px;
}
  margin-rig */

#footer .title2 {
  font-family: "poppins" sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
}

#footer .caption2 {
  font-weight: 400;
  color: #282938;
  font-size: 10px;
}

#card .container-fluid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  position: relative;
}

#card .title2 {
  justify-content: center;
  text-align: center;
  font-family: "poppins" sans-serif;
  margin-left: 408px;
  margin-top: 102px;
  margin-bottom: 62px;
}

#card .card {
  background-color: #f4f6fc;
  border: 0;
  border-radius: 0;
  width: 320px;
  height: 240px;
  margin-left: 30px;
}

#card h3 {
  font-family: "poppins" sans-serif;
  font-weight: 400 bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#card .caption {
  font-family: "poppins" sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-top: 20px;
  color: #282938;
  opacity: 0.7;
}

#about {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

#about img {
  width: 475px;
  height: 290px;
  margin-left: 60px;
}

#about span {
  color: #232536;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;
}

#about {
  margin-bottom: 100px;
}

#about .caption {
  color: #282938;
  font-family: "poppins" sans-serif;
  font-weight: 400;
  font-size: 13px;
}

#kursus .drop {
  border-radius: solid #fff;
  border: none;
  color: #282938;

  font-family: "poppins" sans-serif;
  font-weight: 500;
}

#kursus .btn-lihat {
  height: 46px;
  border-radius: 5px;
  color: #282938;
  background-color: var(--color-button);
  width: 160px;
  font-family: "poppins" sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
  border: none;
  box-shadow: #232536 0px 0px 0.2px 0px;
}

#kursus .dropdown {
  margin-left: 70px;
}

#kursus h2 {
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-size: 32px;
}

#kursus .card {
  width: 336px;
  height: 418px;
  top: 62px;
  border: none;
}

#kursus .card img {
  width: 336px;
  height: 236px;
  position: relative;
  z-index: 1;
  margin: 5px;
}

#kursus .rating {
  background-color: var(--color-background);
  color: var(--color-text);
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: 284px;
  z-index: 2;
  margin-bottom: 5px;
  border-radius: 10px;
  align-items: center;
  bottom: 15px;
}

#kursus h3 {
  font-family: "poppins" sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: start;
  margin-left: 10px;
}

#kursus .caption {
  font-family: "poppins" sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: start;
  margin-left: 10px;
  color: #282938;
}

#swipe {
  background-color: #eef4fa;
  margin-top: 100px;
  height: 300px;
}

#swipe h2 {
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 40px;
}

#swipe .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#swipe .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #eef4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#swipe .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#accord {
  margin-top: 100px;
  margin-bottom: 100px;
}

#accord p {
  font-family: "poppins" sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #282938;
}

#accord .accordion {
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  border: none;
  text-align: start;
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
  background-color: var(--color-text);
}

#accord .active,
.accordion:hover {
  background-color: #fff;
}

#accord .accordion:after {
  content: "\002B";
  color: #000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#accord .active:after {
  content: "\2715";
}

#accord .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 25px;
}

/* #accord .container {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 18px 18px 0 18px;
  margin-bottom: 10px;
} */

/* #accord .row {
  margin-left: 100px;
} */

#img img {
  width: 100%;
  height: 70%;
  margin-bottom: 80px;
}


#blog .card {
  width: 336px;
  height: 418px;
  top: 62px;
  border: none;
}

#blog .card img {
  width: 336px;
  height: 236px;
  position: relative;
  z-index: 1;
  margin: 5px;
}
#blog span {
  font-size: 10px;
  font-family: 'poppins' sans-serif;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 20px;
} 

#blog p{
  font-size: 12px;
  color: #282938;
  opacity: 0.7;

}

#blog button {
  border: none ;
  color: #000;
  font-size: 13px;
  font-family: 'poppins' sans-serif;
  background-color: white;
  font-weight: 500;
}

#blog .container-fluid {
  margin-bottom: 100px;
}


footer {
  background-color: var(--color-background);
  color: #fff;
}


footer span {
  font-family: "poppins" sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 25px;

}

footer p {
  font-family: "poppins" sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 13px;
  opacity: 0.7;
}

footer .foot{
  font-size: 18px;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: #fff;
   font-size: 14px;
}

footer .teks {
  background-color: var(--color-button);
  color: #000;
  width: 330px;
  margin-top: 50px;
  text-align: left;
  
}

footer h5{
  font-size: 14px;
  font-weight: 600;
  color: #000; 
  margin-left: 10px;
}

footer .email p ,.telephone p{
  font-size: 14px;
  font-weight: 400;
  color: #000; 
  margin-left: 10px;
}

